<app-navbar-employee></app-navbar-employee>
<div class="container">
    <div class="row g-3 m-4">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">

            <div class="card" >
                
                <div class="card-body">
                  
                  <img height="300px"  src="https://media.glamour.com/photos/5a425fd3b6bcee68da9f86f8/master/pass/best-face-oil.png" class="card-img-top " alt="..." >
                  <h5 class="card-title text-center">Name :{{data[0].empname}}</h5>
                  <p class="card-text text-center">Designation: {{data[0].designation}}</p>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item text-center">Salary:{{data[0].salary}}</li>
                  <li class="list-group-item text-center">Username:{{data[0].username}}</li>
                
                </ul>
                
              </div>

        </div>
    </div>
</div>
