<app-nav-bar></app-nav-bar>
<div class="container">
    <div class="row g-3 m-4">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">

          <table class="table table-bordered border-dark">
            <thead>
              <tr>
                <th scope="col">Employee Code</th>
                <th scope="col">Employee Name</th>
                <th scope="col">Leave Type</th>
                <th scope="col">Remarks</th>
                <th scope="col">From Date</th>
                <th scope="col">To Date</th>
                <th scope="col">Leave Apply Date</th>
                <th scope="col">Status</th>
                <th scope="col">Leave Accept</th>
                <th scope="col">Leave Reject</th>
               
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let i of data">
                <td>{{i.empcode}}</td>
                <td>{{i.empname}}</td>
                <td>{{i.leavetype}}</td>
                <td>{{i.remarks}}</td>
                <td>{{i.fromdate}}</td>
                <td>{{i.todate}}</td>
                <td>{{i.leaveapplydate}}</td>
                <td>{{i.status}}</td>
                <td> <button (click)="readValue(i.empid)" class="btn btn-success">Leave accept</button></td>
                <td> <button (click)="rejectValue(i.empid)" class="btn btn-danger">Leave Reject</button> </td>

               
              </tr>
            </tbody>
          </table>
            

        </div>
    </div>
</div>