
<nav class="navbar navbar-expand-lg bg-secondary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Nest Employ</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/employlogin"><img height="30" src="https://www.nestdigital.com/images/logo.svg"></a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/employprofile">View  Employee Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/leave">Apply Leave</a>
          </li>
         
          <li class="nav-item">
            <a class="nav-link"  routerLink="/emplogin" >Logout</a>
          </li>
             
        </ul>
      </div>
    </div>
  </nav>
