<app-nav-bar></app-nav-bar>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">

            <div class="row g-3">
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">

                    <label for="" class="form-label">Employee Code</label>
                    <input type="text" class="form-control" name="empcode" [(ngModel)]="empcode" >

                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">

                    <button (click)="readValue()" class="btn btn-success">Search</button>

                </div>
            </div>
            <div class="row g-3 m-4" *ngFor="let i of searchData">
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">

                    <label for="" class="form-label">Employee Name</label>
                    <input type="text" class="form-control" value="{{i.empname}}">

                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">

                    <label for="" class="form-label">Designation</label>
                    <input type="text" class="form-control" value="{{i.designation}}">


                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">

                    <label for="" class="form-label">Salary</label>
                    <input type="text" class="form-control" value="{{i.salary}}">

                </div>
               
               
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">

                    <label for="" class="form-label">User Name</label>
                    <input type="text" class="form-control" value="{{i.username}}">

                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 text-center">

                    <button (click)="deleteBtnClick(i.id)" class="btn btn-danger">Delete</button>

                </div>
                
            </div>
        </div>
    </div>
</div>