<app-navbar-security></app-navbar-security>
<div class="container">
    <div class="row g-3 m-4">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">

            <div class="card" >
                
                <div class="card-body">
                  <h5 class="card-title text-center">WELCOME{{data[0].secname}}</h5>
                  <img height="250px" src="https://previews.123rf.com/images/puruan/puruan1702/puruan170204248/72041528-police-avatar-icon-in-flat-color-style-people-service-security-guard-protect-crime.jpg" class="card-img-top" alt="...">
                  <h5 class="card-title text-center">Name :{{data[0].secname}}</h5>
                  <p class="card-text text-center">Empcode: {{data[0].empcode}}</p>
                </div>
                <ul class="list-group list-group-flush">
                 
                  <li class="list-group-item text-center">Username:{{data[0].username}}</li>
                
                </ul>
                
              </div>

        </div>
    </div>
</div>
