<app-nav-bar></app-nav-bar>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">

            <div class="row g-3 m-4">
                <div class="col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">

                    <label for="" class="form-label">Employee Code</label>
                    <input name="empcode" [(ngModel)]="empcode" type="text" class="form-control">

                </div>
                <div class="col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">

                    <label for="" class="form-label">Security Name</label>
                    <input name="secname" [(ngModel)]="secname" type="text" class="form-control">

                </div>

                <div class="col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">

                    <label for="" class="form-label">User Name</label>
                    <input name="username" [(ngModel)]="username" type="text" class="form-control">

                </div>
                <div class="col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">

                    <label for="" class="form-label">Password</label>
                    <input type="password" name="password" [(ngModel)]="password" id="" class="form-control">
                   

                </div>

                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 text-center">

                    <button (click)="readvalues()" class="btn btn-success">Submit</button>

                </div>




