<app-navbar-log></app-navbar-log>
<div class="container">
    <div class="row g-3 m-4">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3 m-4">
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">

                    <label for="" class="form-label">Date</label>
                    <input type="date" name="date" [(ngModel)]="date" class="form-control">

                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 text-center">
                    
                    <button (click)="readValue()" class="btn btn-success">Search</button>
                </div>
            </div>

          <table class="table table-bordered border-dark">
            <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Date</th>
                <th scope="col">Purpose</th>
                <th scope="col">Whom to meet</th>
                <th scope="col">Entry Date and Time</th>
                <th scope="col">Exit Date and Time</th>
               
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let i of searchData">
                <td>{{i.name}}</td>
                <td>{{i.date}}</td>
                <td>{{i.purpose}}</td>
                <td>{{i.whomtomeet}}</td>
                <td>{{i.entrydatetime}}</td>
                <td>{{i.exitdatetime}}</td>
               
              </tr>
            </tbody>
          </table>
            

        </div>
    </div>
</div>




